{% extends 'base_avaliador.html' %}
{% load widget_tweaks %}
{% load staticfiles%}

{% block assets%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "js/jquery.mask.js" %}"></script>
<link rel="stylesheet" href="{% static "css/form_cadastro.css" %}">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script>
  $(document).ready(function() {
    $("#telefone").mask("(83) 0.000-00000");
  });

</script>

{% endblock %}

{% block conteudo%} 
  <div class="w3-container">

  <div class="w3-container">  
    {% if error == True %}  
    <div id="alteracao-sucesso" class="w3-animate-zoom">
        <div class="w3-panel w3-red w3-card-4" style="margin-top:-10px">
          <p>{{msg_error}} </p>
        </div>
    </div>
    {% elif senha_validada == True and method == "POST"%}

      <div id="alteracao-sucesso" class="w3-animate-zoom">
          <div class="w3-panel w3-green w3-card-4" style="margin-top:-10px">
            <p>Senha alterada com sucesso! </p>
          </div>
      </div>
    {% endif%}
    <div class="w3-card-4 w3-gray-ligth">
      <div class="w3-container w3-red">
        <h2>Editar Informações Básicas <i class="w3-xxlarge fa fa-key"></i> </h2>
      </div>
      <div class="w3-row">


        <div class="w3-col m4 w3-center w3-gray-ligth"><button class="w3-gray-ligth w3-button w3-show"> </button>
        </div>

        <div class="w3-col m4">
          <form action="{% url 'password_edit' %}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}

                <div class="w3-row w3-section">
                  <div class="w3-col" style="width:50px"></div>
                    <div class="w3-rest">
                    <h6>Senha atual:</h6>
                    {{form.senha_atual|add_class:"w3-input w3-border"|attr:"placeholder:Digite aqui sua senha atual"|attr:"id:senha_atual"}}
                    </div>
                </div>

                <div class="w3-row w3-section">
                  <div class="w3-col" style="width:50px"></div>
                    <div class="w3-rest">
                    <h6>Nova senha:</h6>
                    {{form.nova_senha|add_class:"w3-input w3-border"|attr:"placeholder:Digite aqui sua nova senha"|attr:"id:nova_senha"}}
                    </div>
                </div>

                <div class="w3-row w3-section">
                  <div class="w3-col" style="width:50px"></div>
                    <div class="w3-rest">
                    <h6>Repetir senha:</h6>
                    {{form.repetir_senha|add_class:"w3-input w3-border"|attr:"placeholder:Digite novamente sua nova senha"|attr:"id:repetir_senha"}}
                    </div>
                </div>

                <div style="display:none" class="w3-animate-zoom" id="alert_senha">
                    <div class="w3-panel w3-red w3-card-4" style="margin-top:-10px">
                      <p>Senhas diferentes! </p>
                    </div>
                </div>
                
                  <hr class="w3-gray w3-border">
              <div class="w3-container w3-gray-ligth w3-center">
                    
                  <button id="btn_alterar" type="submit" style="margin-bottom:22px" class="w3-btn  w3-red">Alterar <i class="fa fa-arrow-right"></i></button>
            
            
              </div>
          

                </form>
        </div>

        <div class="w3-col m4 w3-center w3-white"></div>
      </div>
      
      </div>
      <script>
        var nova_senha = document.getElementById("nova_senha");
        var repetir_senha = document.getElementById("repetir_senha");
        var alert = document.getElementById("alert_senha")
        var btn_alterar = document.getElementById("btn_alterar");
        
        var func = function(evt){
          if(nova_senha.value != repetir_senha.value && repetir_senha.value != ""){
            alert.style.display = "block";
            btn_alterar.disabled = true;

          }else{
            alert.style.display = "none";
            btn_alterar.disabled = false;
          }
        }
        
        repetir_senha.onkeyup = func;

      window.onload = function(){
      var segundos = 2;
      setTimeout(function(){
        $("#alteracao-sucesso").fadeOut("slow")
          
      }, 1000 * segundos)
    };
        //var btn_alterar = document.getElementById("btn_alterar");
        //btn_alterar.onmouseover = func;
      </script>
    </div>
    
  </div>

{% endblock conteudo%}