{% extends 'base_avaliador.html' %}
{% load widget_tweaks %}
{% load staticfiles%}

{% block assets%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "js/jquery.mask.js" %}"></script>
<link rel="stylesheet" href="{% static "css/form_cadastro.css" %}">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{% static "js/avaliador_home.js" %}"></script>
{% endblock %}

{% block conteudo%}	
	<div class="w3-container">	
	  <div id="container_principal" class="w3-card-4 w3-gray-ligth">
	    <div id="main" class="w3-container w3-red" style="padding:8px">
	      <h2 id="title_conteudo" style="display:inline;">Lista de Relatórios Geral</h2>
	      <div class="w3-dropdown-hover w3-right">
	          <button class="w3-button fa fa-bars w3-hover-red w3-red w3-btn"></button>
	          <div style="right:0;" class="w3-dropdown-content w3-bar-block w3-card-4">
	              <a onclick="request_ajax_mapa()" class="fa fa-map-marker w3-bar-item w3-button w3-hover-red"> Mapa</a><hr style="margin:0px">
	              <a onclick="request_ajax_relatorio('aprovado', 'Aprovados')"class="fa fa-check w3-bar-item w3-button w3-hover-red"> Relatórios aprovados</a><hr style="margin:0px">
	              <a onclick="request_ajax_relatorio('correcao', 'Correção')" class="fa fa-exclamation-triangle w3-bar-item w3-button w3-hover-red"> Relatórios correção</a><hr style="margin:0px">
	              <a onclick="request_ajax_relatorio('rejeitado', 'Rejeitados')" class="fa fa-window-close w3-bar-item w3-button w3-hover-red"> Relatórios rejeitados</a><hr style="margin:0px">
	              <a onclick="request_ajax_relatorio('enviado', 'Enviados')" class="fa fa-envelope-open-o w3-bar-item w3-button w3-hover-red"> Relatórios enviados</a><hr style="margin:0px">
	          </div>
	      </div>
	    </div>
			<div id="container_relatorios" class="w3-row">
 
			   <table class="w3-table-all w3-hoverable">
			     <thead>
			       <tr class="w3-light-gray">
			         <th>Capítulo</th>
			         <th>Data Envio</th>
			         <th>Território</th>
			         <th>Ação</th>
			       </tr>
			     </thead>
			    {%for relatorio in relatorios%}
					<tr>
						<td>{{relatorio.capitulo.user.first_name}}</td>
						<td>{{relatorio.data_envio|date:"d-m-20y"}}</td>
						<td>{{relatorio.territorio.nome}}</td>
						<td><a href="{% url "corrigir_relatorio" relatorio.id %}?next={{next}}" class="w3-btn w3-green">Abrir</a></td>
					</tr>
			    {% endfor%}
			   </table>
			</div>
			
	    </div>
		
	  </div>
	  
	</div>

{% endblock conteudo%}