{% extends 'base_gerente.html' %}
{% load widget_tweaks %}
{% load staticfiles%}

{% block assets%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "js/jquery.mask.js" %}"></script>
<link rel="stylesheet" href="{% static "css/form_cadastro.css" %}">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script>
  $(document).ready(function() {
    $("#telefone").mask("(00) 0.000-00000");
  });

</script>

{% endblock %}

{% block conteudo%}
	
	<div class="w3-container">	  
	  <div class="w3-card-4 w3-gray-ligth">
	    <div class="w3-container w3-red">
	      <h2>Cadastro Avaliador</h2>
	    </div>
			<div class="w3-row">

			  <div class="w3-col m1 w3-center w3-gray-ligth"><button class="w3-gray-ligth w3-button w3-show"> </button>
			  </div>

			  <div class="w3-col m10">
			  	<form action="{% url 'cadastro_avaliador' %}" method="POST" enctype="multipart/form-data">
			  		    {%csrf_token%}

			  		      <div class="w3-row-padding">
			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-o"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.nome|add_class:"w3-input w3-border"|attr:"placeholder:Nome avaliador"}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>

			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-sort-numeric-asc"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.login|add_class:"w3-input w3-border"|attr:"placeholder:ID sisdm"}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>
			  		      </div>

			  		      <div class="w3-row-padding">
			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-key"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.senha|add_class:"w3-input w3-border"|attr:"placeholder:Senha"|attr:"id:senha"}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>
			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-key"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.confirmar_senha|add_class:"w3-input w3-border"|attr:"placeholder:Confirmar senha"|attr:"id:confirmar_senha"|attr:"onblur:validar_senhas()"}}
			  		            		<label style="display:none" id="lbl_confirmar_senha" class="w3-text-red w3-animate-zoom">Senhas diferentes</label>
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>
			  		      </div>
			  		      <div class="w3-row-padding">
			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.email|add_class:"w3-input w3-border"|attr:"placeholder:E-mail"}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>

			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-whatsapp"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.telefone|add_class:"w3-input w3-border"|attr:"id:telefone"|attr:"placeholder:Número whatsapp"}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>
			  		      </div>	
			  		      <div class="w3-row-padding">
			  		        <div class="w3-half">
			  		          <label id="lbl-button">Região</label>
			  		          {{form.regiao|add_class:"w3-select w3-border btn-clone w3-red"|attr:"name:option"}}
			  		        </div>

			  		        <div class="w3-half">
			  		          <label id="lbl-button">Foto</label>
			  		          <label for="foto" class="w3-btn w3-red w3-hover-red">Escolher foto <i class="fa fa-camera" aria-hidden="true"></i></label>
			  		          {{form.foto|attr:"id:foto"|attr:"style:display:none"|attr:"accept:image/x-png,image/jpeg"}}
			  		        </div>
			  		      </div>
			  		      <hr class="w3-gray w3-border">
			  			<div class="w3-container w3-gray-ligth w3-center">
			  						
			  		     	<button type="submit" style="margin-bottom:15px" class="w3-ripple btn-clone w3-btn w3-red w3-center w3-hover-red">Registrar <i class="fa fa-arrow-right"></i></button>
			  			</div>

			  		    </form>
			  </div>

			  <div class="w3-col m1 w3-center w3-white"></div>
			</div>
			
	    </div>
		
	  </div>
	  <script>
	  	var password = document.getElementById("senha")
	  	var confirm_password = document.getElementById("confirmar_senha");
	  	var element_senhas_diferentes = document.getElementById("lbl_confirmar_senha")

	  	function validar_senhas(){
	  		if(password.value != confirm_password.value){
	  			element_senhas_diferentes.style.display = "block";
	  		}else{
	  			element_senhas_diferentes.style.display = "none";
	  		}
	  		console.log("pegou")
	  	}
	  </script>
	</div>

{% endblock%}