<!DOCTYPE html>
{% extends 'base_avaliador.html' %}
{% load staticfiles %}

{% block assets %}
    <style>
        #principal {
            position: relative;
        }

        #img_mapa {
            position: absolute;
        }

        #img_point {
            position: absolute;
        }

    </style>

    <script>
        function pegarTerritorio(nome, descricao, pontuacao, bonus, data_abertura, data_encerramento, territorio_id) {
            alert(nome)
            document.getElementById("titulo_modal_id").innerHTML = nome.toUpperCase()
            document.getElementById("id_cadastrar").setAttribute("href", "{% url 'cadastroFormulario' 12%}")
            document.getElementById("modal_id").innerHTML = "" +
                "                            <div class=\"w3-rest\">\n" +
                "                            <div class=\"w3-topbar w3-large\"><b>Território: " + nome + "</b><br></div>" +
                "                            <div class=\"w3-topbar w3-large\"><b>Descrição: " + descricao + "</b><br></div>" +
                "                            <div class=\"w3-topbar w3-large\"><b>Pontuação: " + pontuacao + "</b><br></div>" +
                "                            <div class=\"w3-topbar w3-large\"><b>Bônus: " + bonus + "</b><br></div>" +
                "                            <div class=\"w3-topbar w3-large\"><b>Data abertura: " + data_abertura + "</b><br></div>" +
                "                            <div class=\"w3-topbar w3-large\"><b>Data encerramento: " + data_encerramento + "</b><br>" +
                "                            </div>" +
                "                        </div>"
        }

    </script>

{% endblock %}


{% block conteudo %}
    <div class="w3-container">
        <div id="main" class="w3-container w3-red">
            <h2>Territórios</h2>
        </div>
        <div class="w3-row">
            <div id="principal">
                <img id="img_mapa" src="{% static "imagens/WarDM_map.png" %}" alt="Mapa" usemap="#mapa_war">
                {% for territorio in territorios %}
                    <a onclick="document.getElementById('id01').style.display='block',
                            pegarTerritorio('{{ territorio.nome }}','{{ territorio.descricao }}','{{ territorio.pontuacao }}',
                            '{{ territorio.bonus_max }}','{{ territorio.data_abertura }}','{{ territorio.data_encerramento }}',
                            '{{ territorio.pk }}')">
                        <img style="position:absolute" id="{{ territorio.0.nome.upper }}"
                                     largura="{{ territorio.1.largura }}" altura="{{ territorio.1.altura }}"
                                     src="{% static "imagens/point.png" %}" width="2%" href="#"></a>
                {% endfor %}

            </div>
        </div>


    </div>



    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:550px">
            <header class="w3-container w3-red">
                    <span onclick="document.getElementById('id01').style.display='none'"
                          class="w3-button w3-red w3-xxlarge w3-display-topright">&times;</span>
                <h1 id="titulo_modal_id"></h1>
            </header>
            <div class="w3-row-padding">
                <div class="w3-col" style="width:42%">
                    <div class="w3-row w3-section">
                        <div class="w3-rest">
                            <img src="{% static "imagens/brasil.png" %}" alt="brasil">
                        </div>
                    </div>
                </div>
                <div class="w3-col" style="width:58%">
                    <div id="modal_id" class="w3-row w3-section">
                        <!- – o modal é inserido aqui – ->
                    </div>
                </div>
            </div>
            <div class="w3-row-padding">
            </div>
            <div id="modal_barra_inferior_id" class="w3-container w3-light-grey w3-padding">
                <a id="id_cadastrar" class="w3-button w3-red w3-left w3-border w3-large"
                   href="{% url 'cadastroFormulario' 0 %}">Cadastrar relatório
                </a>
                <button class="w3-button w3-right w3-white w3-border "
                        onclick="document.getElementById('id01').style.display='none'">Close
                </button>
            </div>
        </div>
    </div>


    <script>
        var mapa = document.getElementById("img_mapa");
        var main = document.getElementById("main");
        var principal = document.getElementById("principal");

        function ajuste_points() {
            for (i = 1; i < principal.children.length; i++) {
                var point = principal.children[i].children[0];
                var porcentagem_largura = mapa.width / mapa.naturalWidth;
                var porcentagem_altura = mapa.height / mapa.naturalHeight;
                point.style.left = (parseInt(point.getAttribute("largura")) * porcentagem_largura) + "px";
                point.style.top = (parseInt(point.getAttribute("altura")) * porcentagem_altura) + "px";
            }
        }

        function resize_mapa() {
            mapa.width = main.clientWidth;
            ajuste_points();
        }

        resize_mapa();
        window.onresize = resize_mapa;
    </script>
{% endblock %}
