{% extends 'base_home.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	

    {% block conteudo %}

     	<div class="w3-container w3-center">
     		<div class="w3-card-4 w3-white" style="margin-bottom: 20px;">
     			<div class="w3-container w3-padding-64 w3-center" id="team">
     			<h2>Avaliadores</h2>
     			<div class="w3-row"><br>

     			<div class="w3-quarter">
     			  <img src="/static/imagens/avatar-demolay.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
     			  <h3>Neto Breba</h3>
     			  <p>Avaliador 1° Região</p>
     			</div>

     			<div class="w3-quarter">
     			  <img src="/static/imagens/avatar-demolay.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
     			  <h3>Matheus Nícolas</h3>
     			  <p>Avaliador 2° Região</p>
     			</div>

     			<div class="w3-quarter">
     			  <img src="/static/imagens/avatar-demolay.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
     			  <h3>Sergio Ewerton</h3>
     			  <p>Avaliador 3° Região</p>
     			</div>

     			<div class="w3-quarter">
     			  <img src="/static/imagens/avatar-demolay.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
     			  <h3>Uélio Dornelas</h3>
     			  <p>Avaliador 4° Região</p>
     			</div>

     			</div>
     			</div>

     		</div>
     		




     	</div>
    {% endblock %}

  </body>
</html>