{% extends 'base_home.html' %}
{% load staticfiles %}


{% block conteudo%}

<div class="w3-container">

  <div class="w3-card-4"  style="width:100%; margin-bottom: 25px;">
      <header class="w3-container w3-black" style="border-radius: 4px">
        <h1 class="w3-center"><strong>Edições anteriores</strong></h1>
      </header>

      
     <div class="w3-card-4 w3-gray-ligth  w3-white" style="border-radius: 5px">

        <div class="w3-row">
            <div class="w3-col m1 w3-gray-ligth">
                <button class="w3-gray-ligth w3-button w3-show"></button>
            </div>

            <div class="w3-col m10 w3-gray-ligth">
                dgdfgfdgdfg


                
            </div>


        </div>

    </div>

 </div>


{% endblock %}