{% extends 'base_home.html' %}
{% load staticfiles %}


{% block conteudo%}

<div class="w3-container">

  <div class="w3-card-4"  style="width:100%; margin-bottom: 25px;">
      <header class="w3-container w3-black" style="border-radius: 4px">
        <h1 class="w3-center"><strong>Edições Anteriores- WAR DEMOLAY CERTIFICADO DE REFERÊNCIA ESTADUAL - PB</strong></h1>
      </header>

      
     <div class="w3-card-4 w3-gray-ligth  w3-white" style="border-radius: 5px">

        <div class="w3-row">
            <div class="w3-col m1 w3-gray-ligth">
                <button class="w3-gray-ligth w3-button w3-show"></button>
            </div>

            <div class="w3-col m10 w3-gray-ligth">
                
                  <h2 class="w3-center"><b>WAR DEMOLAY - 2016/2017</b></h2>
                  <font color="red"><h6 class="w3-center"><b>GESTÃO: Inspirar Sonhos, Trabalhar virtudes</b></h6></font>
                  <h4 class="w3-center"><b>​CRE OURO: ÁGUIA DE HAYA Nº624</b></h4>
                  <h4 class="w3-center"><b>CRE PRATA: PRÍNCIPE DA PAZ N°38</b></h4>
                  <h4 class="w3-center"><b>CRE BRONZE: REDENÇÃO SAOBENTENSE Nº284</b></h4>
                  <br> 

                  

                  <h2 class="w3-center"><b>WAR DEMOLAY - 2015/2016</b></h2>
                  <font color="red"><h6 class="w3-center"><b>GESTÃO: VIVER DEMOLAY, TRANSFORMAR VIDAS</b></h6></font>
                  <h4 class="w3-center"><b>​CRE OURO: ÁGUIA DE HAYA Nº624</b></h4>
                  <h4 class="w3-center"><b>CRE PRATA: JOÃO PESSOA N°11</b></h4>
                  <h4 class="w3-center"><b>CRE BRONZE: REDENÇÃO SAOBENTENSE Nº284</b></h4>
                  <br>

                  <h2 class="w3-center"><b>CRE- 2014/2015</b></h2>
                  <font color="red"><h6 class="w3-center"><b>GESTÃO: GUIADO POR VIRTUDES, UNIDOS POR IDEAIS</b></h6></font>
                  <h4 class="w3-center"><b>​CRE OURO: REDENÇÃO SÃOBENTENSE Nº284</b></h4>
                  <h4 class="w3-center"><b>CRE PRATA: DEFENSORES DO VALE DA LIBERDADE N°504</b></h4>
                  <br>

                  <h2 class="w3-center"><b>CRE- 2013/2014</b></h2>
                  <font color="red"><h6 class="w3-center"><b>GESTÃO: DEDICADOS AS VIRTUDES, UNIDOS PARA SERVIR</b></h6></font>
                  <h4 class="w3-center"><b>​CRE OURO: REDENÇÃO SÃOBENTENSE Nº284</b></h4>
                  <h4 class="w3-center"><b>CRE PRATA: TEMPLÁRIOS DO PIEMONT N°517</b></h4>
                  <br>

            </div>


        </div>

    </div>

 </div>


{% endblock %}