{% extends 'base_home.html' %}
{% load staticfiles %}


{% block conteudo%}

<div class="w3-container">

  <div class="w3-card-4"  style="width:100%; margin-bottom: 25px;">
      <header class="w3-container w3-black" style="border-radius: 4px">
        <h1 class="w3-center"><strong>Regras</strong></h1>
      </header>

      
     <div class="w3-card-4 w3-gray-ligth  w3-white" style="border-radius: 5px">

        <div class="w3-row">
            <div class="w3-col m1 w3-gray-ligth">
                <button class="w3-gray-ligth w3-button w3-show"></button>
            </div>

            <div class="w3-col m10 w3-gray-ligth">
                <h2 class="w3-center"><b>Regulamento Geral - War DeMolay</b></h2>
                <h6><b>I - Introdução:</b></h6>
                <ul>
                <li><p>O War DeMolay é um programa no qual estão participando todos os Capítulos paraibanos regulares
                    perante o SCODRFB;</p></li>
                    <li><p>O Gabinete Estadual da Paraíba, na pessoa de seus Mestres Conselheiros Estaduais, Secretários Geral e de Projetos, é o organizador deste programa, sendo estes os únicos que podem responder pelo mesmo;</p></li>
                    <li><p>O programa consiste em cumprir as missões (atividades capitulares) e assim conquistar os devidos territórios atribuídos a cada tarefa;</p></li>
                    <li><p>Este programa foi desenvolvido para incentivar o reconhecimento meritório pelas atividades e organização dos capítulos;</p></li>
                    <li><p>Dependendo de sua localização, cada território terá uma devida pontuação e seu devido bônus extra, cada Capítulo terá a sua pontuação de acordo com a soma dos territórios que conquistou;</p></li>
                    <li><p>Ao final de cada mês, será divulgado o Ranking que indicará os capítulos que mais conquistaram durante o referido mês;</p></li>
                    <li><p>Ao final da gestão do Gabinete Estadual da Paraíba, os três melhores colocados no Ranking Geral, serão os vencedores do programa;</p></li>
                    <li><p>Este regulamento abrange questões Gerais. Questões mais específicas serão tratadas pelo Gabinete Estadual. Dúvidas ou questionamentos deverão ser enviadas para: war@demolaypb.com.br</p></li>
                </ul>
                <hr class="w3-gray w3-border">
                <h6><b>II - Conquistando Territórios:</b></h6>
                <ul>
                <li><p>Cada território será previamente liberado junto com a missão que deverá ser cumprida para conquista-lo, o mapa dos territórios liberados está disponível neste site, clicando em cada território liberado, constará a Missão, o prazo para a conquista, a pontuação e os pré requisitos para conquistar aquele território;</p></li>
                <li><p>Os e-mails oficiais para envio de relatórios de atividades e documentos comprobatórios estão disponíveis no mapa individual de cada capítulo não sendo aceitas atividades que sejam encaminhadas para outros endereços;</p></li>
                <li><p>As atividades deverão ser enviadas através do e-mail institucional de cada capítulo. </p></li>
                <li><p>Os territórios disponíveis serão indicados na aba “territórios” através dos marcadores na cor verde.</p></li>
                <li><p>Os territórios que ainda estão indisponíveis, estarão indicados pelos marcadores azuis, até que chegue o momento que sejam liberados para a conquista</p></li>
                <li><p>Os territórios indicados pelos marcadores vermelhos indicam que o prazo para a conquista do mesmo já se encerrou;</p></li>
                <li><p>Além da pontuação normal de cada território, que será a mesma para todos os que conquistarem, alguns deles dispões de uma pontuação bônus, que obedece critérios qualitativos e(ou) quantitativos, a maneira de conquistar esse bônus varia conforme as regras de conquista de cada território, e também estará explicito na página de cada território;</p></li>
                </ul>

                <hr class="w3-gray w3-border">
                <h6><b>III - Continentes:</b></h6>
                <ul>
                <li><p>Cada Continente é dedicado a um determinado tipo de atividades, portanto, um território terá seu valor em pontos determinado pela sua localização dentre os 6 continentes disponíveis;</p></li>
                <li><p>A América do Norte, composta por 9 territórios é dedicada ao cumprimento dos dias obrigatórios, cada território neste continente vale 20 pontos e o bônus pode chegar até 30 pontos conforme a qualidade do relatório e abrangência e criatividade da atividade enviada;</p></li>
                <li><p>A América do Sul é dedicada a reuniões especiais como Elevações e Iniciações, cada um dos 4 territórios deste continente vale 60 pontos + um Bônus de 5 pontos para cada membro iniciado/elevado;</p></li>
                <li><p>A Oceania é dedicada a participação dos projetos nacionais Caneta de Ouro e Campanha Nacional de Incentivo a Excelência, nas gestões 2016.2 e 2017.1, cabendo a cada território 50 pontos pela participação em cada projeto + 50 pontos bônus pela conclusão de cada projeto;</p></li>
                <li><p>Os 6 territórios da África serão conquistados pelos que realizarem atividades extras, como campanhas sociais, cívicas, filantrópicas, esportivas e com a maçonaria, cabendo a cada território o valor de 20 pontos. O bônus tem o valor de 20 pontos para cada nova atividade, e 10 pontos
                    para cada atividade repetida, com excessão do território Congo (Atividade Esportiva) que vale 10 pontos + Bônus de 10 pontos para cada nova atividade e 5 pontos para cada repetição;</p></li>
                <li><p>A Ásia é dedicada a todas as outras atividades, como participação em projetos dos Gabinetes Estadual e Nacional, GCE-PB e SCODRFB, atualizações de dados, entre outras atividades do gênero que serão divulgadas junto a cada território. Cada um dos 12 territórios vale 10 pontos e seu bônus pode variar conforme a atividade do território;</p></li>
                <li><p>A Europa dispõe de 7 territórios, cada território será liberado com regras específicas, e só conquistarão um território neste continente, aqueles que realizarem a(as) melhor(s) atividade(s) dentre o que cada território propõe. Exemplo: Moscou será conquistado pelo Capítulo que realizar a melhor atividade filantrópica da Gestão 2016.2. A pontuação dos territórios é específica, podendo chegar até 30 pontos.  </p></li>
                </ul>

                <hr class="w3-gray w3-border">
                <h6><b>IV Avaliação: </b></h6>
                <ul>
                <li><p>Os avaliadores oficiais das atividades serão os Mestres Conselheiros Regionais.</p></li>
                <li><p>O coordenador geral do projeto é o Secretário de Projetos do Gabinete Estadual da Paraíba.</p></li>
                <li><p>Fazem parte da comissão do War DeMolay os Mestres Conselheiros Estaduais e os secretários Geral e de Projetos do Gabinete Estadual.</p></li>
                <li><p>Após enviada a atividade, ela será corrigida e o e-mail será respondido com o resultado em até 5 dias úteis;</p></li>
                <li><p>Os relatórios serão avaliados e respondidos antes da atualização dos mapas no site que ocorrerá no mínimo uma vez por mês, logo, quando a atividade de um capítulo for aceita, deve-se esperar a próxima atualização dos mapas no site para que a conquista conste no seu respectivo mapa;</p></li>
                </ul>

                <hr class="w3-gray w3-border">
                <h6><b>V – Premiação:</b></h6>
                <ul>
                <li><p>Os Vencedores do Ranking Geral serão os três mais bem colocados conforme a soma da pontuação de todos os territórios conquistados;</p></li>
                <li><p>Os três primeiros colocados do Ranking Geral receberão troféus e certificados conforme a sua colocação;</p>
                    <p>Os 10 melhores colocados receberão um certificado meritório;</p></li>
                </ul>

                <hr class="w3-gray w3-border">
                <h6><b> VI - Punições:</b></h6>
                <ul>
                <li><p>Os Capítulos que por ventura fiquem irregulares perante o SCODRFB e o GCE-PB serão excluídos do programa War DeMolay;</p></li>
                <li><p>Qualquer tentativa de fraude ou envio de informações falsas, terá a mesma punição do item acima, conforme constatado o ocorrido;</p></li>
                </ul>

                <hr class="w3-gray w3-border">
                <h6><b> VII - Disposições Finais:</b></h6>
                <ul>
                <li><p>Os casos omissos nesse Regulamento e no Edital serão resolvidos pelo Gabinete Estadual da Paraíba por meio da publicação de Oficio, enviado aos e-mails institucionais dos capítulos da paraíba;</p></li>
                </ul>
            </div>


        </div>

    </div>

 </div>


{% endblock %}