{% extends 'base_gerente.html' %}
{% load staticfiles %}

{% block assets %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static "css/war_map_conf.css" %}">
<script src="https://cdn.rawgit.com/stowball/jQuery-rwdImageMaps/master/jquery.rwdImageMaps.min.js"></script>
<script rel="stylesheet" type="text/css" href="{static}"></script>
<script>
    $(document).ready(function(e) {
    $('img[usemap]').rwdImageMaps();
});
</script>
{% endblock %}

{% block conteudo %}

    <div class="w3-container ">

        
            <div class="w3-container w3-red ">
                <h2>Mapa de Territórios</h2>
            </div>
            <div class="w3-row">
                
                    <div>
                        
                        <img  id="resol-mapa" src="{% static "imagens/WarDM_map.png" %}" usemap="#war_map" alt="Mapa de Territórios">
                        <div class="w3-container">
                           
                           
                            <map name="war_map">
                                <area shape="rect" coords="1185, 1882, 1429, 2062" onclick="document.getElementById('id01').style.display='block'" name="Brasil">

                                <area shape="rect" coords="905, 1966, 1101, 2042" onclick="document.getElementById('id01').style.display='block'" name="Peru">

                                <area shape="rect" coords="921, 2310, 1297, 2386" onclick="document.getElementById('id01').style.display='block'" name="Argentina">

                                <area shape="rect" coords="837, 1622, 1185, 1686" onclick="document.getElementById('id01').style.display='block'" name="Venezuela">

                                <area shape="rect" coords="369, 1358, 665, 1454" onclick="document.getElementById('id01').style.display='block'" name="Mexico">

                                <area shape="rect" coords="697, 1075, 905, 1207" onclick="document.getElementById('id01').style.display='block'" name="Nova Iorque">

                                <area shape="rect" coords="367, 826, 733, 875" onclick="document.getElementById('id01').style.display='block'" name="California">

                                <area shape="rect" coords="293, 1031, 681, 1127" onclick="document.getElementById('id01').style.display='block'" name="Vancouver">

                                <area shape="rect" coords="127, 636, 397, 702" onclick="document.getElementById('id01').style.display='block'" name="Alaska">

                                <area shape="rect" coords="468, 661, 852, 724" onclick="document.getElementById('id01').style.display='block'" name="Mackenzie">

                                <area shape="rect" coords="781, 890, 994, 941" onclick="document.getElementById('id01').style.display='block'" name="Otawa">

                                <area shape="rect" coords="1025, 827, 1343, 890" onclick="document.getElementById('id01').style.display='block'" name="Labrador">

                                <area shape="rect" coords="1477, 524, 1870, 582" onclick="document.getElementById('id01').style.display='block'" name="Groenlandia">

                                <area shape="rect" coords="1737, 713, 2007, 769" onclick="document.getElementById('id01').style.display='block'" name="Islandia">

                                <area shape="rect" coords="2142, 649, 2468, 695" onclick="document.getElementById('id01').style.display='block'" name="Escandinavia">

                                <area shape="rect" coords="1871, 843, 2155, 880" onclick="document.getElementById('id01').style.display='block'" name="Reino-Unido">

                                <area shape="rect" coords="2120, 891, 2390, 930" onclick="document.getElementById('id01').style.display='block'" name="Alemanha">

                                <area shape="rect" coords="1951, 1006, 2151, 1060" onclick="document.getElementById('id01').style.display='block'" name="France">

                                <area shape="rect" coords="2453, 788, 2751, 849" onclick="document.getElementById('id01').style.display='block'" name="Moscou">

                                <area shape="rect" coords="2235, 1115, 2384, 1163" onclick="document.getElementById('id01').style.display='block'" name="Italia">

                                <area shape="rect" coords="2229, 1275, 2502, 1349" onclick="document.getElementById('id01').style.display='block'" name="Egito">

                                <area shape="rect" coords="2478, 1564, 2721, 1627" onclick="document.getElementById('id01').style.display='block'" name="Sudao">

                                <area shape="rect" coords="2265, 1760, 2505, 1830" onclick="document.getElementById('id01').style.display='block'" name="Congo">

                                <area shape="rect" coords="2218, 2059, 2636, 2120" onclick="document.getElementById('id01').style.display='block'" name="South-Africa">

                                <area shape="rect" coords="2635, 2214, 2999, 2267" onclick="document.getElementById('id01').style.display='block'" name="Madagascar">

                                <area shape="rect" coords="2638, 1231, 2888, 1365" onclick="document.getElementById('id01').style.display='block'" name="Oriente-Medio">

                                <area shape="rect" coords="3147, 1294, 3345, 1362" onclick="document.getElementById('id01').style.display='block'" name="India">

                                <area shape="rect" coords="2910, 969, 3074, 1026" onclick="document.getElementById('id01').style.display='block'" name="Aral">

                                <area shape="rect" coords="2865, 710, 3089, 773" onclick="document.getElementById('id01').style.display='block'" name="Omsk">

                                <area shape="rect" coords="3075, 632, 3359, 692" onclick="document.getElementById('id01').style.display='block'" name="Dudinka">

                                <area shape="rect" coords="3431, 821, 3624, 878" onclick="document.getElementById('id01').style.display='block'" name="Tchita">

                                <area shape="rect" coords="3533, 689, 3787, 747" onclick="document.getElementById('id01').style.display='block'" name="Siberia">

                                <area shape="rect" coords="3836, 777, 4203, 826" onclick="document.getElementById('id01').style.display='block'" name="Vladivostok">

                                <area shape="rect" coords="3460, 958, 3807, 1031" onclick="document.getElementById('id01').style.display='block'" name="Mongolia">

                                <area shape="rect" coords="3417, 1167, 3638, 1228" onclick="document.getElementById('id01').style.display='block'" name="China">

                                <area shape="rect" coords="4056, 1150, 4297, 1220" onclick="document.getElementById('id01').style.display='block'" name="Japan">

                                <area shape="rect" coords="3534, 1490, 3763, 1552" onclick="document.getElementById('id01').style.display='block'" name="Vietna">

                                <area shape="rect" coords="3701, 1790, 4033, 1860" onclick="document.getElementById('id01').style.display='block'" name="Sumatra">

                                <area shape="rect" coords="4100, 1868, 4427, 1918" onclick="document.getElementById('id01').style.display='block'" name="Nova-Guine">

                                <area shape="rect" coords="3654, 2166, 3988, 2308" onclick="document.getElementById('id01').style.display='block'" name="Autralia-Ocidental">

                                <area shape="rect" coords="4103, 2073, 4359, 2184" onclick="document.getElementById('id01').style.display='block'" name="Australia-Oriental">
                    
                               <area shape="rect" coords="1893, 1390, 2277, 1546" onclick="document.getElementById('id01').style.display='block'" name="Argelia" >


                            <div id="id01" class="w3-modal">
                                <div class="w3-modal-content w3-animate-zoom">
                                    <header class="w3-container w3-red"> 
                                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                       <p id = "titulo_regiao">Brasil</p>
                                    </header>
                                    <div class="w3-container">
                                        <img  id="brasil" src="{% static "imagens/bandeira_brasil.jpg" %}">
                                        <div id="inform">
                                            <header class="w3-container w3-red">
                                                <h1>Header</h1>
                                            </header>

                                            <div class="w3-container">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            </div>

                                        </div>
                                    </div>
                                    <br>
                                    <div class="w3-container">
                                        <button id="enviar_relatorio" class="w3-button w3-red">Enviar relatório</button>
                                    </div>
                                    <br>
                                </div>
                           </div>
                        </div>
                    </div>

                   
                    <!--
                    <div class="w3-row-padding">
                        <div class="w3-col" style="width:100%">
                        <ul class="w3-ul w3-large">
                            {% for t in territorios %}
                                <article>
                                    <li>
                                        {{ t.nome }}
                                        <a class="w3-margin-left w3-button w3-hover-border-red" href="{% url 'cadastroFormulario' t.id %}">Cadastrar relatório</a>
                                    </li>
                                </article>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                </div>
            -->
            </div>

     
    </div>

{% endblock %}