{% extends 'base_gerente.html' %}
{% load staticfiles %}

{% block assets %}

{% endblock %}

{% block conteudo %}

    <div class="w3-container ">

        
            <div class="w3-container w3-red ">
                <h2>Mapa de Territórios</h2>
            </div>
            <div class="w3-row">
                
                    <div>
                        
                         <img width="100%" height="600px" src="{% static "imagens/WarDM_map.png" %}" alt="Mapa de Territórios">
                    </div>
                   
                    <!--
                    <div class="w3-row-padding">
                        <div class="w3-col" style="width:100%">
                        <ul class="w3-ul w3-large">
                            {% for t in territorios %}
                                <article>
                                    <li>
                                        {{ t.nome }}
                                        <a class="w3-margin-left w3-button w3-hover-border-red" href="{% url 'cadastroFormulario' t.id %}">Cadastrar relatório</a>
                                    </li>
                                </article>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>

                </div>
            -->
            </div>

     
    </div>

{% endblock %}