{% extends 'base_gerente.html' %}

{% load staticfiles%}

{% block assets%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "js/jquery.mask.js" %}"></script>
<link rel="stylesheet" href="{% static "css/cadastro_avaliador.css" %}">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
  $(document).ready(function() {
    $("#telefone").mask("(00) 0.000-00000");
  });
</script>

<script>
	
	$(function() {
		$(document).tooltip();
	});
</script>



{% endblock %}

{% block conteudo%}
	
	<div class="w3-container">	  
	  <div class="w3-card-4 w3-white">
	    <div class="w3-container w3-red">
	      <h2>Cadastro Avaliador</h2>
	    </div>
			<div class="w3-row">
			  <div class="w3-col m2 w3-center w3-white"><label style="color:white;">1</label>
			  </div>

			  <div class="w3-col m8">
			  	<form action="{% url 'cadastro_avaliador' %}" method="POST" enctype="multipart/form-data">
			  		    	{%csrf_token%}

			  		      <div class="w3-row-padding">
			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-o"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.nome}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>

			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-o"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.sobrenome}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>
			  		      </div>

			  		      <div class="w3-row-padding">
			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-sort-numeric-asc"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.login}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>
			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-key"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.senha}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>
			  		      </div>
			  		      <div class="w3-row-padding">
			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.email}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>

			  		        <div class="w3-half">
			  		        	<div class="w3-row w3-section">
			  		          	<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-whatsapp"></i></div>
			  		            	<div class="w3-rest">
			  		            		{{form.telefone}}
			  		            	</div>
			  		        	</div>
			  		          
			  		        </div>
			  		      </div>	
			  		      <div class="w3-row-padding">
			  		        <div class="w3-half">
			  		          <label id="lbl-button">Região</label>
			  		          {{form.regiao}}
			  		        </div>

			  		        <div class="w3-half">
			  		          <label id="lbl-button">Foto</label>
			  		          <label for="foto" class="w3-btn w3-red w3-hover-red">Escolher foto <i class="fa fa-camera" aria-hidden="true"></i></label>
			  		          {{form.foto}}
			  		        </div>
			  		      </div>
			  		      <hr class="w3-gray w3-border">
			  			<div class="w3-container w3-white w3-center">
			  						
			  		     	<button type="submit" style="margin-bottom:15px" class="w3-ripple btn-clone w3-btn w3-red w3-center w3-hover-red">Registrar <i class="fa fa-arrow-right"></i></button>
			  			</div>

			  		    </form>
			  </div>

			  <div class="w3-col m2 w3-center w3-white"></div>
			</div>
	    </div>
		
	  </div>
	</div>

{% endblock%}