{% extends 'base_capitulo.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block assets %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "js/jquery.mask.js" %}"></script>
    <script>
        $(document).ready(function () {
            $("#telefone").mask("(00) 0.0000-0000");
        });
    </script>

    <link rel="stylesheet" href="{% static "css/form_cadastro.css" %}">

{% endblock %}

{% block conteudo %}


    <div class="w3-container">

        <div class="w3-card-4 w3-gray-ligth">
            <div class="w3-container w3-red">
                <h2>Alterar dados</h2>
            </div>
            <div class="w3-row">
                <div class="w3-col m1 w3-center w3-gray-ligth">
                    <button class="w3-gray-ligth w3-button w3-show"></button>
                </div>
                <div class="w3-col m10">
                    <form action="{% url 'editar_cap' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="w3-row-padding">
                            <div class="w3-col" style="width:60%">
                                <div class="w3-row w3-section">
                                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-o"></i></div>
                                    <div class="w3-rest">
                                        {{ form.mestreCosenheiro }}
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col" style="width:40%">
                                <div class="w3-row w3-section">
                                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-whatsapp"></i>
                                    </div>
                                    <div class="w3-rest">
                                        {{ form.telefone }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w3-row-padding">
                            <div class="w3-half" style="width:40%">
                                <div class="w3-row w3-section">
                                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i>
                                    </div>
                                    <div class="w3-rest">
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col" style="width:45%">
                                <div class="w3-row w3-section">
                                    <div class="w3-col" style="width:50px"><i ></i>
                                    </div>
                                    <div class="w3-rest">
                                        {{ form.foto |attr:"accept:image/*" |attr:"id:fotoId" }}
                                        <label><br><b>Alterar foto</b></label>

                                    </div>
                                </div>
                            </div>
                            <div class="w3-half" style="width:15%">
                                <div class="w3-row w3-section">
                                    <div class="w3-rest">
                                        <img src="{{ capitulo.foto.url }}" width="80" height="70" class="w3-border w3-card-3" >
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w3-row-padding">

                        </div>

                        <hr class="w3-gray w3-border">

                        <div class="w3-container w3-gray-ligth w3-center">
                            <button type="submit" style="margin-bottom:15px"
                                    class="w3-ripple btn-clone w3-btn w3-red w3-center w3-hover-red">Cadastrar <i
                                    class="fa fa-arrow-right"></i></button>
                        </div>


                    </form>
                </div>

                <div class="w3-col m1 w3-center w3-white"></div>
            </div>

        </div>

    </div>
    <script>
        var senha = document.getElementById("senha");
        var confirm_senha = document.getElementById("conf_senha");
        var alert = document.getElementById("alert_senha")
        var func = function () {
            if (senha.value != confirm_senha.value && confirm_senha.value != "") {
                alert.style.display = "block";
            } else {
                alert.style.display = "none";
            }
        };
        //nova_senha.onkeyup = func;
        confirm_senha.onblur = func;

        window.onload = function () {
            var segundos = 2;
            setTimeout(function () {
                $("#alteracao-sucesso").fadeOut("slow")

            }, 1000 * segundos)
        };
    </script>


{% endblock %}